# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# reports
*.report.html


# environment variables
.env
.env.production

# IDE files
.vscode/

# macOS-specific files
.DS_Store

# lighthouse folder
.lighthouseci/
