---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import GitHubLink from './GitHubLink.astro';
const base = import.meta.env.BASE_URL;
---

<header>
	<nav>
		<p class="site-title"><a href={base + "/"}>{SITE_TITLE}</a></p>
		<div class="internal-links">
            <HeaderLink href={`${base}/blog`}>Blog</HeaderLink>
            <HeaderLink href={`${base}/galleries`}>Galleries</HeaderLink>
        </div>
		<div class="github-link">
			<GitHubLink />
		</div>
	</nav>
</header>
<style is:inline>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	.site-title {
		margin: 0;
		font-size: 1em;
	}

	.site-title a,
	.site-title a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
    @media (max-width: 720px) {
        .github-link {
            display: none;
        }
    }
</style>
